@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ShoppingApp</h1>
    <p>This is a simple mockup of an e-commerce site using Asp.net</p>
</div>
